<!-- BEGIN: main -->
<ul>
	<!-- BEGIN: loop -->
	<li class="{TEXT}">
		<a title="{ROW.title}">{ROW.title_clean60}</a>
		<p>{ROW.description}</p>
	</li>
	<!-- END: loop  -->
</ul>
<!-- END: main -->