<!-- BEGIN: mainblock -->
<div class="panel panel-default1">
	<div class="panel-heading1">
		{BLOCK_TITLE}
	</div>
	<div class="panel-body">
		{BLOCK_CONTENT}
	</div>
</div>
<!--  END: mainblock -->