<!-- BEGIN: main -->
<ul class="list-right">
	<li class="text_1">
		<a>{DATA.title1}</a>
		<p>
			{DATA.description1}
		</p>
	</li>

	<li class="text_2">
		<a>{DATA.title1}</a>
		<p>
			{DATA.description2}
		</p>
	</li>

	<li class="text_3">
		<a>{DATA.title1}</a>
		<p>
			{DATA.description3}
		</p>
	</li>

	<li class="text_4">
		<a>{DATA.title1}</a>
		<p>
			{DATA.description4}
		</p>
	</li>

	<li class="text_5">
		<a>{DATA.title1}</a>
		<p>
			{DATA.description5}
		</p>
	</li>
</ul>
<!-- END: main -->