<!-- BEGIN: main -->
<div class="wrap_bottom">
	<!-- BEGIN: img -->

		<!-- BEGIN: style_1 -->
		<div class="hotline_bottom hdmobile">
			<span class="ico">
				<img u="image" src="{IMAGE.imgpath}" />
			</span>
			<span class="txt">
				<!-- BEGIN: title -->
				<a>{IMAGE.imgtitle}</a>
				<!-- END: title -->
			</span>
		</div>
		<!-- END: style_1 -->

		<!-- BEGIN: style_2 -->
		<div class="guide_payment hdmobile">
			<span class="ico">
				<img u="image" src="{IMAGE.imgpath}" />
			</span>
			<span class="txt">
				<!-- BEGIN: title -->
				<a>{IMAGE.imgtitle}</a>
				<!-- END: title -->
			</span>
		</div>
		<!-- END: style_2 -->


		<!-- BEGIN: style_3 -->
		<div class="guide_payment2 hdmobile2">
			<span class="ico">
				<img u="image" src="{IMAGE.imgpath}" />
			</span>
			<span class="txt">
				<!-- BEGIN: title -->
				<a href="tel:{IMAGE.imgtitle}">{IMAGE.imgtitle}</a>
				<!-- END: title -->
				<a href="http://DMCA.com"><img class="rss-icon" src="{NV_BASE_SITEURL}themes/{BLOCK_THEME}/images/dmca.png" /></a>
			</span>
		</div>
		<!-- END: style_3 -->

	<!-- END: img -->
	</div>
<!-- END: main -->