#flexiselDemo3 {
	display: none;
}

.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}

.nbs-flexisel-inner {
	overflow: hidden;
	height: 100px;
	float: left;
	width: 100%;
	background: #fcfcfc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item img {
	width: 100%;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 108px;
	max-height: 108px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 26px;
	height: 26px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
}

.nbs-flexisel-inner {
    background: #0052a0 none repeat scroll 0 0;
    float: left;
    height: 100px;
    overflow: hidden;
    width: 100%;
}
.nbs-flexisel-item img {
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 14px;
    height: 45px;
    position: relative;
    width: auto;
    max-width: 130px;
}