/**
 * @Project NUKEVIET 4.x
 * @Author VINADES.,JSC (contact@vinades.vn)
 * @Copyright (C) 2014 VINADES.,JSC. All rights reserved
 * @License GNU/GPL version 2 or any later version
 * @Createdate 31/05/2010, 00:36
 */

/* Upload, crop avatar */
.users-av-wraper{
    position: relative;
    width: 630px;
    min-height:100%;
    background: #f7f7f7;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size:13px
}
.users-av-wraper > form > div{
    position: relative;
    padding: 15px 0 0 15px
}
.users-av-wraper > form > div:first-child{
    background-color: #efefef;
    min-height:400px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 0
}

.users-avupload{
    position: relative;
    width: 100%;
    height: 100%;
}

.users-avupload .upload-button{
    display: table;
    width: 100%;
    height:380px;
    cursor: pointer;
}

.users-avupload .upload-button > div{
    display: table-row
}

.users-avupload .upload-button > div > span{
    display: table-cell;
    vertical-align: middle;
    text-align:center
}

.users-avupload .upload-button > div > span > em{
    display: inline-block;
    width:100px;
    height:100px;
    font-size:40px;
    text-align:center;
    color:#fff;
    background-color: #1182C8;
    line-height:100px;
    border-radius: 50px
}

.users-avupload .upload-button:hover em{
    background-color: #205FA0;
}

.users-avupload .img-area{
    position:relative;
    width: 100%;
	text-align:center;
    padding:10px
}
.users-avupload .img-area img{
	width:100%;
}
.users-av-wraper .guide{
	padding:8px;
    background: #D8EAF8;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.users-av-wraper .exit-bt{
	position: fixed;
    top: 380px;
    right: 30px
}

/* EDIT INFO */
#change-photo{
	display: none;
}

.users-menu > li > a{
    padding: 8px 10px !important;
}

/*Login-box*/
.login-box{
    width:400px
}
@media (max-width:399px) {
    .login-box{
    width:100%
}
}