<!-- BEGIN: main -->
<link rel="StyleSheet" href="{CSS}">
<script src="{JS}"></script>
<div id="contactButton" class="box-shadow">
    <button type="button" class="ctb btn btn-primary btn-sm" data-module="{MODULE}"><em class="fa fa-pencil-square-o"></em>{GLANG.feedback}</button>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <button type="button" class="close">&times;</button>
            {GLANG.feedback}
        </div>
        <div class="panel-body" data-cs="{CHECKSS}"></div>
    </div>
</div>
<!-- END: main -->