<!-- BEGIN: main -->
<strong>{TITLE}</strong><br /><br />
{CONTENT}<br /><br />
-------------------------------------<br /><br />
{LANG.sendinfo}: {SITE_NAME} (<a href="{SITE_URL}">{SITE_URL}</a>)<br />
{LANG.sendinfo2}:<br />
<ul>
<li>{LANG.fullname}: {FULLNAME}</li>
<li>{LANG.email}: {EMAIL}</li>
<!-- BEGIN: phone -->
<li>{LANG.phone}: {PHONE}</li>
<!-- END: phone -->
<li>IP: {IP}</li>
<!-- BEGIN: cat -->
<li>{LANG.cat}: {CAT}</li>
<!-- END: cat -->
<!-- BEGIN: part -->
<li>{LANG.part}: {PART}</li>
<!-- END: part -->
</ul>
<!-- END: main -->